body {
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(250, 10, 31, 0.8);
}
p, span, label, a, button, div {
    font-family: 'Open Sans', sans-serif;
}
.title h3{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: rgba(250, 10, 31, 0.8);
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.2em;
}
.title h4 {
    font-family: 'Questrial', sans-serif;
    color: #636363;
}
button {
    background-color: rgba(250, 10, 31, 0.8);
    color: #ffffff;
    padding: 15px 25px;
    border: none;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.btn--menu::after, .btn--menu::before {
    width: 20px;
    height: 4px;
    display: block;
    content: '';
    margin-top: 0px;
    background: #ffffff;
    transition: all 200ms;
    border-radius: 5px;
    background-color: #ffffff;
}
.btn--menu::after {
    margin-top: 8px;
}
.btn--menu.active:before {
  transform: rotate(45deg)
    translate(0px, 8px);
  margin-left: 10px;
}
.btn--menu.active:after {
  transform: rotate(-45deg)
    translate(0px, -8px);
  margin-left: 10px;
}
header {
    height: 10vh;
    padding: 10px 0px;
}
.nav__logo img {
    width: 120px;
}
.nav__logo h1 {
    font-weight: 800;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
.nav__logo h1 > span {
    font-weight: 800;
    color: #050505;
    font-size: 0.7em;
    font-family: 'Ubuntu', sans-serif;
}
.menu__nav {
    display: none;
    height: 90vh;
    background-color: rgba(255,255,255, 1);
    color: rgba(250, 10, 31, 0.7);
}
.menu__nav.active {
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: 99;
}
.menu__nav > a {
    font-weight: 800;
    color: rgba(250, 10, 31, 0.7);
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 30px 0;
    text-decoration: none;
}
.menu__nav > a:hover, .menu__nav > a:active {
    color: #ffffff;
}
.bg--soft {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 30%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -1;
}
.bg--soft-2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: radial-gradient(ellipse at center, rgba(250, 10, 31, 0.7) 0%,rgba(255,255,255,0) 100%);
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: -1;
}
.bg--01 {
    background-image: url('../assets/bg-01.jpg');
    height: 80vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
#home {
    padding-top: 40px;
    height: 80vh;
}
#home h2 {
    font-family: 'Questrial', sans-serif;
    color: #636363;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    padding-bottom: 15px;
}
#home p, #home span {
    font-weight: 100;
    text-align: center;
}
#home span {
    font-size: 0.8em;
}
/* SIMULADOR */

#simulador {
    padding: 40px 20px;
    background-color: #F6F7F7;
    transition: all 600ms ease;
}
#simulador .content {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px #efefef;
}
#simulador .title {
    padding-top: 20px;
}
#simulador h3, #simulador p, .modal--car-selector p, #period-grid p{
    font-family: 'Questrial', sans-serif;
    text-align: center;
}
#simulador p {
    letter-spacing: 0.1em;
}
.selector {
    margin: 15px 0;
}
#simulador .selector p, .modal--car-selector p, #period-grid p{
    font-weight: 800;
    font-size: 2.5em;
    letter-spacing: 0em;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0.9;
}
.selector span {
    font-weight: 100;
    font-size: 1.2em;
}
.selected-option {
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 8px #fafafa;
}
.text__container p {
    line-height: 1;
}
.text__container label {
    font-size: 0.9em;
    font-family: 'Questrial', sans-serif;
    color: #636363;
    line-height: 1;
    margin-bottom: 0px;
}
#simulador .subtext__container p, #period-grid .subtext__container p {
    line-height: 1;
    font-size: 2em;
}
.subtext__container label {
    line-height: 0;
    font-size: 0.7em;
    letter-spacing: 0em;
    color: #636363;
}
label[for="selected"] {
    font-family: 'Questrial', sans-serif;
    color: #363636;
    margin-bottom: 0px;
}

#simulador .plan {
    border-top: 2px dashed #f0f0f0;
    margin-top: 20px;
    padding: 20px;
}

#simulador .plan .price {
    background-color: rgba(250, 10, 31, 0.8);
    border-radius: 100px;
    color: #ffffff; 
    font-size: 2.5em;
    padding: 40px 0;
    font-weight: 800;
}
#simulador .plan .price span:first-child {
    font-size: 1.2em;
    line-height: 0;
}
#simulador .plan .price span:last-child {
    font-size: 0.5em;
    line-height: 0;
    font-weight: 400;
}
.content__price label {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: #636363;
}
.content__specs {
    width: 48%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.content__resume {
    width: 45%;
    padding: 10px;
}
.content__resume label {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: #636363;
    text-align: center;
}
#simulador .content__resume p {
    font-size: 3em;
    line-height: 1;
}
.subtext__container p {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0em;
}
/* ARGUMENTOS */
#argumentos {
    background-color: rgba(250, 10, 31, 0.8);
}

#argumentos .title h3 {
    color: #ffffff;
    text-align: center;
}
#argumentos .content {
    background-color: rgba(255,255,255, 0.4);
}
.icon--group {
    text-align: center;
}
.icon--group .icon {
    background-color: #ffffff;
    color: rgba(250, 10, 31, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
}
.icon--group h4 {
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    font-size: 1.8em;
}
.icon--group p {
    font-size: 0.8em;
    color: #f0f0f0;
    font-weight: 100;
}

/* COBERTURAS */
.bg--02 {
    background-image: url('../assets/bg-02.jpg');
    height: 140vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.coberturas__plan {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(22,22,22, 0.05);
}
.plan__title {
    border-bottom: 1px solid #efefef;
    text-align: center;
}
.plan__title span {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1em;
}
.specs__spec {
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 0;
}
.specs__spec:last-child {
    border-bottom: none;
}
.spec__text {
    font-size: 0.9em;
}
.spec__check {
    color: rgba(250, 10, 31, 0.8);
}

/* BENEFICIOS */
.separator {
    width: 100%;
    height: 2px;
    background: transparent;
    border-top: 2px dashed #f6f6f7;
}
 /* INFORMACIÓN */
 #informacion {
     background-color: #f6f6f7;
 }
 .information__option {
     background-color: rgba(250, 10, 31, 0.8);
     color: white;
     border-radius: 3px;
 }
 .information__option span {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;     
 }
 .informacion__modal {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: #f6f7f7;
 }
 .informacion__modal.active {
     display: flex;
     overflow: auto;
 }
 .modal__title {
     border-bottom: 1px solid #e0e0e0;
 }
 .modal__title p {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    color: #636363;
 }
 .modal__paragraph li {
     margin: 10px 0;
 }

 /* MODAL DE SELECCIÓN DE VEHÍCULO */
 #car-model {
     text-transform: uppercase;
 }
 .modal--car-selector {
     width: 100%;
     height: 100vh;
     background-color: rgba(255,255,255, 0.8);
     position: fixed;
     display: none;
     top: 0;
     margin: 0;
 }
 .modal--car-selector.active {
     display: flex;
 }
 .car-selector__content {
     width: 90%;
     height: 90%;
     overflow: auto;
     background-color: #ffffff;
     box-shadow: 0px 2px 8px rgba(22,22,22, 0.05);
 }
 .modal--car-selector .selector--car {
    width: 45%;
    background-color: #fefefe;
    text-align: center;
    border: 1px solid #fafafa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px #fafafa;
 }

 /* MODAL DE SELECCIÓN DE PERIODO */
 .modal--period-selector {
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255, 0.8);
    position: fixed;
    
    top: 0;
    margin: 0;
}
.modal--period-selector.active {
    display: flex;
}
.period-selector__content {
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(22,22,22, 0.05);
}
.selector--period {
   width: 45%;
   background-color: #fefefe;
   text-align: center;
   border: 1px solid #fafafa;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0px 2px 8px #fafafa;
}

@media (min-width: 992px) {
    header {
        height: auto;
    }
    .menu--desktop {
        margin-bottom: 60px;
    } 
     .menu--desktop a {
         font-family: 'Questrial', sans-serif;
         color: #636363;
         font-size: 1.1em;
         text-transform: uppercase;
    }
    #home h2 {
        font-size: 2.5em;
    }
}

.primary {
    color: rgba(250, 10, 31, 0.7);
}
#img-car {
    max-height: 54px;
}
 .f--montserrat {
    font-family: 'Montserrat', sans-serif !important;
 }